.TodoList {
  text-align: left;
  padding: 1rem 1rem 1rem;
  max-width: 500px;
  background: #f5f9f9;
  color: #509b9b;
  border-style: solid;
  border-radius: 25px;
  border-color: white;
  margin: 1rem;
}

.TodoList ul {
  margin-top: 1rem;
  color: #4b417a;
}
