@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

.App {
  text-align: center;
  background: rgb(215, 212, 227);
  background: linear-gradient(
    0deg,
    rgba(215, 212, 227, 1) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
}
