@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

.App {
  text-align: center;
  background: rgb(215, 212, 227);
  background: linear-gradient(
    0deg,
    rgba(215, 212, 227, 1) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #4b417a;
  height: 667px;
  width: 375px;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 0%;
  font-size: 1.25em;
}
